pip install numpy==1.21.6
pip install Django==2.1.7
pip install PyMySQL==0.9.3
pip install torch==1.13.1
pip install torchvision==0.14.1
pip install transformers==4.30.2
pip install faiss-cpu==1.7.4
pip install sentence-transformers==2.2.2
pip install sentencepiece==0.1.96
pip install boto3==1.33.13
pip install botocore==1.33.13
